.list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.2rem 2.2rem;
  background-color: var(--grey-color-3);
}
.itemUser {
  font-size: 2rem;
  font-weight: 500;
}
.itemBody {
  font-size: 1.6rem;
  line-height: 1.6;
}
